body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2 {
     margin-bottom: 20px;
     color: #333;
}

.color-container {
     display: flex;
     gap: 10px;
}

body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: #f5f5f5;
     margin: 0;
}

button {
     background-color: #007BFF;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.3s;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
     background-color: #0056b3;
}

button:active {
     background-color: #004085;
     transform: translateY(2px);
}

button:focus {
     outline: none;
}

#stop {
     background-color: #dc3545;
}

#stop:hover {
     background-color: #c82333;
}

#stop:active {
     background-color: #bd2130;
}

#color-container {
     padding: 100px;
     border: 2px solid gray;
     border-radius: 20px;
     background-color: white;
}